body {
    background-image: url("../images/sky.jpg");
    font-weight: bolder;
}

.container {
    background-color: grey;
}

.jumbotron {
    background-image: url("../images/sky.jpg");
}

.table {
    display: block;
    width: 50%;

    margin: auto;
    /* margin-right: auto; */
}

.label {
    font-weight: bold;
}

.text-center {
    text-align: center;
}


