body {
    background-image: url("../images/sky.jpg");
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center top;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 1%;
    background-color: lightgray;
    padding-bottom: 4%;
}

.jumbotron {
    background-image: url("../images/sky.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center top;
    /*margin: 0;*/
    /*padding: 2%;*/
}

.table {
    display: block;
    width: 50%;

    margin: auto;
    /* margin-right: auto; */
}

.label {
    font-weight: bold;
}

.text-center {
    text-align: center;
}


